In [1]:
%matplotlib inline

import requests
import os
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import clear_output
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from time import sleep
import seaborn as sns
sns.set()

def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

In [2]:
data_path = r'./data/cdcpniweekly/'
if not os.path.exists(data_path):
    os.makedirs(data_path)

In [3]:
years = range(2016, 2021)
weeks = range(1, 54)

- Any given week's report will have all weeks up until that week.
- It appears that the at least some of the early reports had a two week lag, not a one week lag.
- A flu season starts on Week 40 of one year and goes to week 39 of the next year.
Example:
- The first week of the 2017-2018 flu year is https://www.cdc.gov/flu/weekly/weeklyarchives2017-2018/data/nchsdata40.csv
- The Last week of the 2017-2018 flu year is https://www.cdc.gov/flu/weekly/weeklyarchives2017-2018/data/nchsdata39.csv

Uncomment the next cell to pull the data down to your local machine.

# Please don't repeatedly pull down the data as it creates unnecessary work for the CDC's servers. I have included the result of running this code in the repo. So unless you want to grab more recent snapshots down the road there's no point in running it. Just run the notebook as is and it will use the data in this repo.

In [4]:
# # CDC DATA Format
# # https://www.cdc.gov/flu/weekly/weeklyarchives2017-2018/data/nchsdata42.csv
# for year in years:
#     for week in weeks:
#         if year == 2020 and week > 13:
#             next
#         else: 
#             flu_year = str(year - 1) + '-' + str(year)
#             request_url = ('https://www.cdc.gov/flu/weekly/weeklyarchives' +
#                            flu_year + '/data/nchsdata' + str(week).zfill(2) + '.csv')
#             print(request_url)
#             request = requests.get(request_url)
#             isStatusOK = request.status_code == requests.codes.ok
#             if isStatusOK:
#                 decoded_content = request.content.decode('utf-8')
#                 with open('./data/cdcpniweekly/' + flu_year + '-' + str(week).zfill(2) + '.csv', 'w') as my_data_file:
#                     print('isOK')
#                     my_data_file.write(decoded_content)

In [5]:
def calendarWeektoFluSeasonWeek(week):
    intWeek = int(week)
    if intWeek > 39:
        return intWeek - 39
    else:
        return intWeek + 13
    
def FluSeasonWeektoCalendarWeek(week):
    intWeek = int(week)
    if intWeek < 14:
        return intWeek + 39
    else:
        return intWeek - 13
    
weekly_reports = []
path = data_path # use your path
all_files = glob.glob(path + "/*.csv")
for filename in all_files:
#     print(filename)
    if 'combined' not in filename:
        flu_season_start_year = filename[20:24]
        flu_season_end_year = filename[25:29]
        calendar_week = filename[30:32]
        flu_season_week = calendarWeektoFluSeasonWeek(calendar_week)
#         print(flu_year_start, flu_year_end, calendar_week)
        df = pd.read_csv(filename, index_col=None, header=0)
        df['calendarWeek'] = int(calendar_week)
        df['filename'] = filename
        df['fluSeason'] = filename[20:29]
        df['fluSeasonStartYear'] = flu_season_start_year
        df['fluSeasonEndYear'] = flu_season_end_year
        df['fluSeasonWeek'] = flu_season_week
        df['reportId'] = df['fluSeason'] + '-' + df['fluSeasonWeek'].apply(str).str.zfill(2)
#         df['snapshotYear'] = snapshotYear
#         df['snapshotCalendarWeek'] = week
#         df['snapshot'] = df['fluSeason'] + df['snapshotCalendarWeek']
        weekly_reports.append(df)
combined_data = pd.concat(weekly_reports, ignore_index=True)
combined_data.to_csv(data_path + 'combined.csv')

In [6]:
# display_all(combined_data.query('calendarWeek == 39'))

In [7]:
report_ids = list(np.sort(combined_data['reportId'].unique()))
report_ids[:3]

['2015-2016-01', '2015-2016-02', '2015-2016-03']

In [8]:
reports = {}
for report_id in report_ids:
    pivoted_data = combined_data.query('reportId == @report_id').pivot_table(
        values='Pneumonia Deaths',
        columns='Year',
        index='Week')
    reports[report_id] = pivoted_data
#     snapshots[snapshot] = pd.concat([pivoted_data[40:], pivoted_data[:39]])
#     snapshots[snapshot]['fluWeek'] = list(range(1, len(snapshots[snapshot]) + 1))
#     snapshots[snapshot] = snapshots[snapshot].set_index('fluWeek')

In [9]:
reports["2015-2016-01"]

Year    2010    2011    2012    2013    2014    2015
Week
1        NaN  4817.0  4360.0  5620.0  4555.0  5467.0
2        NaN  4725.0  4262.0  6080.0  5047.0  5477.0
3        NaN  4715.0  4274.0  5941.0  5021.0  5106.0
4        NaN  4820.0  4232.0  5649.0  4789.0  4772.0
5        NaN  4705.0  4029.0  5291.0  4629.0  4641.0
6        NaN  4755.0  4027.0  5028.0  4480.0  4456.0
7        NaN  4970.0  4133.0  4889.0  4390.0  4340.0
8        NaN  5013.0  4195.0  4581.0  3995.0  4377.0
9        NaN  4822.0  4238.0  4489.0  3873.0  4332.0
10       NaN  4727.0  4351.0  4420.0  4052.0  4247.0
11       NaN  4500.0  4300.0  4405.0  3953.0  3978.0
12       NaN  4339.0  4065.0  4192.0  3842.0  3672.0
13       NaN  4190.0  3802.0  4180.0  3804.0  3582.0
14       NaN  4064.0  3830.0  4057.0  3828.0  3577.0
15       NaN  3965.0  3761.0  3938.0  3735.0  3679.0
16       NaN  3896.0  3697.0  3826.0  3597.0  3594.0
17       NaN  3696.0  3578.0  3587.0  3504.0  3451.0
18       NaN  3747.0  3533.0  3508.0  3497.0  3310.0
19       NaN  3739.0  3333.0  3395.0  3523.0  3207.0
20       NaN  3580.0  3335.0  3316.0  3227.0  3000.0
21       NaN  3550.0  3295.0  3249.0  3245.0  3137.0
22       NaN  3498.0  3144.0  3040.0  3148.0  2908.0
23       NaN  3462.0  3075.0  3346.0  3224.0  2891.0
24       NaN  3341.0  3158.0  3277.0  3225.0  2823.0
25       NaN  3336.0  3152.0  3127.0  3085.0  2843.0
26       NaN  3348.0  3162.0  3063.0  3002.0  2745.0
27       NaN  3193.0  3008.0  2982.0  3006.0  2664.0
28       NaN  3149.0  3042.0  3043.0  2994.0  2591.0
29       NaN  3190.0  3019.0  3044.0  2949.0  2571.0
30       NaN  2997.0  2890.0  2866.0  2988.0  2468.0
31       NaN  3002.0  3042.0  2931.0  2936.0  2479.0
32       NaN  3030.0  3044.0  2983.0  2851.0  2341.0
33       NaN  2981.0  3023.0  3001.0  2878.0  2348.0
34       NaN  3072.0  2968.0  2972.0  2884.0  2238.0
35       NaN  3075.0  3021.0  2898.0  2829.0  2045.0
36       NaN  3003.0  3112.0  2862.0  2969.0  1917.0
37       NaN  3042.0  3167.0  2988.0  2884.0  1602.0
38       NaN  3211.0  3122.0  3032.0  2999.0  1230.0
39       NaN  3167.0  3222.0  3051.0  3025.0     NaN
40       NaN  3259.0  3218.0  3149.0  3082.0     NaN
41    3466.0  3406.0  3324.0  3140.0  3156.0     NaN
42    3432.0  3325.0  3383.0  3218.0  3103.0     NaN
43    3503.0  3384.0  3382.0  3158.0  3219.0     NaN
44    3505.0  3497.0  3355.0  3278.0  3164.0     NaN
45    3615.0  3671.0  3441.0  3433.0  3212.0     NaN
46    3549.0  3645.0  3500.0  3328.0  3251.0     NaN
47    3613.0  3562.0  3437.0  3437.0  3395.0     NaN
48    3864.0  3655.0  3816.0  3390.0  3431.0     NaN
49    3838.0  3761.0  3944.0  3600.0  3640.0     NaN
50    4040.0  3854.0  3965.0  3860.0  3798.0     NaN
51    4107.0  3837.0  4221.0  3928.0  4116.0     NaN
52    4581.0  3986.0  4714.0  3951.0  4280.0     NaN
53       NaN     NaN     NaN     NaN  4997.0     NaN

In [10]:
[""]*12

['', '', '', '', '', '', '', '', '', '', '', '']

In [11]:
# CDC DATA Format
dash_styles = [""]*15

colors = sns.color_palette("husl", 12)

# pallete = {
#     "2008 - 2009": colors[0],
#     "2009 - 2010": colors[1],
#     "2010 - 2011": colors[2],
#     "2011 - 2012": colors[3],
#     "2012 - 2013": colors[4],
#     "2013 - 2014": colors[5],
#     "2014 - 2015": colors[6],
#     "2015 - 2016": colors[7],
#     "2016 - 2017": colors[8],
#     "2017 - 2018": colors[9],
#     "2018 - 2019": colors[10],
#     "2019 - 2020": colors[11],
# }

pallete = {
    2009: colors[0],
    2010: colors[1],
    2011: colors[2],
    2012: colors[3],
    2013: colors[4],
    2014: colors[5],
    2015: colors[6],
    2016: colors[7],
    2017: colors[8],
    2018: colors[9],
    2019: colors[10],
    2020: colors[11],
}

sns.set_style("dark")
sns.set_context("notebook", font_scale=2.5, rc={"lines.linewidth": 5})
def plot_data(x):
    week = x[-2:]
    start_year = x[0:4]
    end_year = x[5:9]
    if int(week) < 14:
        year = start_year
        week = int(week) + 39
    else:
        year = end_year
        week = int(week) - 13
    plt = sns.relplot(kind="line",
                      data=reports[x],
                      dashes=dash_styles,
                      height=9,
                      aspect=1.5,
                      hue="Year",
                      palette=pallete)
    plt.set(ylim=(0,7000))
    plt.set(xlim=(0,53))
    plt.set(title="U.S. Provisional Pnuemonia Deaths as of " + year + ' week ' + str(week))
    plt.set(xlabel='Week of Year', ylabel='Death Count')

w = widgets.Dropdown(options=report_ids, value=report_ids[0])
interact(plot_data, x=w)

interactive(children=(Dropdown(description='x', options=('2015-2016-01', '2015-2016-02', '2015-2016-03', '2015â€¦

This look is what creates the animation

In [12]:
for value in report_ids:
    w.value = value